body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-align: center;
}
#header{
    background-color: red;
    color: blanchedalmond;

}
#ingredients {
    color: darkcyan;
}
#ingredients h2 {
    background-color: aqua;
    color: darksalmon;
}


li {
    text-align: left;
}